# Extension ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps
old_config

# Specific file ignores
config/.config_entries.json
config/.homekit.state
config/.ios.conf
config/.spotify-token-cache
config/.tradfri_psk.conf
config/.uuid
config/aircast.xml
config/core
config/ip_bans.yaml
config/known_devices.yaml
config/notebooks
config/options.xml
config/OZW_Log.txt
config/pyozw.sqlite
config/secrets.yaml
config/zwcfg_*
config/zwscene.xml
config/plex.conf
config/fitbit.conf
entities.txt

# Some other generic stuff
.vscode
.theia

# Specific keeps
!.gitkeep
/config/google_calendars.yaml
/config/zwave_device_config.yaml
/config/tts/*.mp3
/config/components/sensors/templates/*.disable

config/samsung_tv/192.168.1.218.config
/known_devices.yaml
zwave key.txt
